/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 3:17:21 PM
    Author     : root
*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
}
#encuesta-header{
    height: 300px;
}
a,a:visited,a:hover,a:active{
    color: inherit;
    text-decoration: none;
}
#page-wrapper{
    padding-bottom: 50px;
}
.file-box{
    height: 250px !important;
}
.titulo{
    font-weight: 800;
    margin-top:5px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 3vw;
}

.pregunta-titulo{
    font-size: 22px;
    font-weight: 600;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: inherit;
}
.nav-header .text-muted,.nav-header a{
    color: #2e3c4b !important;
}
.nav-header{
    background-image: url('patterns/shattered.png');
}
body{
    background-color: #e1e1e1;
}
.nav.nav-custom .fas{
    font-size: 2.5rem;
    width: 25px;
    text-align: center;
}
.nav.nav-custom > li > a{
    color: #2e3c4b;
}
.nav.nav-custom .nav.nav-custom-label{
    text-transform: uppercase;
    top: -6px;
    margin-left: 10px;
    position: relative;
}
.nav.nav-custom li a i{
    padding: 0px 5px 0px 5px;
}
.nav.nav-custom li a{
    padding: 14px 30px 14px 10px;
    height: 60px;
}
.nav.nav-custom .dropdown-menu li a {
    padding: 4px 30px 4px 10px;
    height: 32px;
}
#login-page{
    height: 100vh;
}
.tabla-elementos{
    padding: 5px 10px;
}
.polo{
    font-size: 18px;
    display: inline-block;
}
.polo.izquierda{
    text-align: right;
}
.polo.derecha{
    text-align: left;
}
.radio-wrapper{
    display: inline-block;
    text-align: center;
}
.pregunta-wrapper{
    margin-bottom: 10px;
}
.pregunta label{
    font-size: 14px;
}
.encuesta-wrapper{
    margin-top: -100px;
    background-color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.bold{
    font-weight: bold;
}

.radio-info input[type="radio"] + label::after{
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after{
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio:hover label::before{
    opacity: 0.4;
    
}
.radio label{
    padding-left: 0px;
}

.radio label::after{
    display: inline-block;
    position: absolute;
    content: " ";
    width: 19px;
    height: 19px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 0;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    transition: none !important;
}
.radio label::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: -5px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: #fff;
    border-color: #0680a5;
}
.opciones_form_group{
    height: 600px;
    overflow-y: scroll;
}
.titulo-general{
    font-weight: bold;
}

.polo.izquierda,.polo.derecha{
    width: 33%;
    display: inline-block;
}
.opciones{
    width: 30%;
    display: inline-block;
    text-align: center;
}
.pregunta{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    display: block;
    clear: both;
}
.pregunta-error{
    background-color: #fdd;
}
.error-label{

    color:#ff6464;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    margin-left: 5px !important;
}
.radio-break-line{
    display: block !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.escala-likert-label{
    font-size: 18px;
    padding-left: 40px;
    font-weight: 600;
}
.opciones-likert .radio label{
    width: 100%;
}
.opciones-likert .radio label::before{
    top: 0px;
}

.radio label{
    width: 24px;
}
.radio{
    display: inline-block;
    padding:0px;
}
input[type="radio"]{
    height: 0px;
    width: 0px;
    margin: 0px;
    float: left;
}
.radio label::before{
    margin: 0px !important;
}
.radio label::after{
    margin: 0px !important;
}
.seleccionable select option{
    font-weight: 600;
}
.seleccionable select{
    font-size: 18px;
}
#form-button-save{
    display: none;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media (max-width: 1199px) and (min-width: 992px){
    .polo.visible-md {
        display: inline-block!important;
    }
    .polo.izquierda{
        text-align: left;
        width:50%;
    }
    .polo.derecha{
        text-align: right;
        width:50%;
    }
    .polo{
        float: left;
    }

    .opciones{
        width: 100%;
        margin-top: 20px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .polo.izquierda{
        text-align: left;
        width:50%;
    }
    .polo.derecha{
        text-align: right;
        width:50%;
    }
    .polo{
        float: left;
    }

    .opciones{
        width: 100%;
        margin-top: 20px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    .encuesta-wrapper{
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .polo.izquierda{
        width:50%;
    }
    .polo.derecha{
        width:50%;
    }
    .polo{
        float: left;
    }
    .opciones{
        width: 100%;
    }
    .opciones-likert .pregunta .radio{
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .opciones .radio label{
        width: 20px;
        height: 20px;
    }
    .opciones .radio label::before{
        width: 20px;
        height: 20px;
    }
    #encuesta-header{
        height: 200px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}